[main]
enabled=1
debug=1
readaloud=1
# Keep the trailing '/' on ramfldr
ramfldr=/mnt/ram/
end=Thats all for now.  Have a nice day.  

## Effects

[light]
enabled=1
stype=effect
standalone=1
delay=1

[music]
enabled=1
stype=effect
standalone=1
tail=.mp3 
musicfldr=./Music
player=mpg123 -@ - -l 1 -g 60

## Content sources

[greeting]
enabled=1
stype=content
standalone=1
name=Elijah

[netdown]
enabled=1
handler=textfile
stype=content
standalone=2
filepath=/home/pi/alarmpi/alarmpi.txt

[elijahbirthday]
enabled=1
handler=birthday
stype=content
name=Elijah
standalone=1
birthday=9.19


[abebirthday]
enabled=1
handler=birthday
stype=content
name=Abe Lincoln
standalone=1
birthday=2.12

[weather_yahoo]
enabled=1
stype=content
# Use zipcode
location=50309
#1 is imperial 2 is metric anything else is kelvin
metric=1
# Change units to Imperial by changing metric=0
wind=1
# wind is available only with metric
wind_chill=1
# default set from November - March
host=api.openweathermap.org/data/2.5/weather?zip=
path=,us&appid=52355b9b4d382eef31d4c701f63c894a
pathtail=&format=json

## TTS engines
# NB: Order implies preference for enabled tts engines
[trygoogle]
enabled=1
stype=tts
head=wget -q -U Mozilla 
host=translate.google.com
path=/translate_tts
lang=en
client=tw-ob
tail=.mp3
player=mpg123 -g 100 -h 10 -d 11

[tryivona]
enabled=0
stype=tts
ivona_accesskey=
ivona_secretkey=
ivona_voice=Salli
ivona_speed=slow
tail=.ogg

[trypico2wave]
enabled=0
stype=tts
standalone=1
head=/usr/bin/pico2wave
lang=en-GB
tail=.wav
player=aplay
